.DS_Store
node_modules
/dist

# Firebase files
.firebase
/.firebaserc
/firebase.json

# Dev server self-signed SSL certificate
/ca.crt
/ca.key
/cert.crt
/cert.key

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
